# Cadena de conexion a PostgreSQL
# postgresql://NOMBRE_USUARIO:PASSWORD_USUARIO@HOST:PUERTO/NOMBRE_BD
DATABASE_URL=postgresql://postgres:root@localhost:5432/consultorio_dental

# Llave para firmar las JWT (usa un texto largo y aleatorio)
JWT_SECRET_KEY=cambia_esta_llave_por_una_secreta

# Archivo de arranque para los comandos "flask db ..."
FLASK_APP=run.py
